.displayedDeleteButton {
  float: right;
  margin: -4px 10px -8px -10px;
  padding: 4px 4px 4px 4px;
  background-image: red;
  color: white;
  -webkit-border-radius: 8px;
  font-size: 16px;
  border: 1px solid black;
  background-color: red;
}

.hiddenDeleteButton {
  display: none;
}

.displayedDeleteButton + a.removable {
  clear: left;
  margin-right: 100px;
  background: none;
}

.relation {
  font-size: 16px;
  font-weight: normal;
}
textarea {
  border: none;
  background: 0 none;
}

.relation a {
  background: none;
  display: inline;
  margin: 0, 0, 0, 0;
  padding: 0, 0, 0, 0;
  text-decoration: underline;
}

.previewButton {
  background-color: white;
  text-align: center;
  font-size: 100px;
}
